body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  font-family: 'Times New Roman', Times, serif;
}

.clock-container {
  position: relative;
  width: 256px;
  height: 256px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}